.photoContainer {
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 0.15rem solid black;
  }

  .l1 {
    text-decoration: underline;

  }