.header {
    text-decoration: underline;
    font-size: x-large;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    box-shadow: 1px 1px gray;
    border-top: none;
    width: 100%;
}

.h2 {
    text-decoration: underline;
    font-size: large;
    
}

