.cropped {
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 0.15rem solid black;
}

.logos {
  display: flex;
  flex-direction: row;
}

.logo {
  margin-right: 20px;
}

.photoContainer {
  display: flex;
  justify-content: center;
}
