.nav {
  height: 75px;
  padding-left: 10rem;
  padding-right: 10rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.25rem;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1.5rem;
}

.nav ul li a {
  margin-right: 2rem;
}
